@font-face {
    font-family: "flaticon_reduto";
    src: url("./flaticon_reduto.ttf?c1d87d81437b8926f427487f616b13dc") format("truetype"),
url("./flaticon_reduto.woff?c1d87d81437b8926f427487f616b13dc") format("woff"),
url("./flaticon_reduto.woff2?c1d87d81437b8926f427487f616b13dc") format("woff2"),
url("./flaticon_reduto.eot?c1d87d81437b8926f427487f616b13dc#iefix") format("embedded-opentype"),
url("./flaticon_reduto.svg?c1d87d81437b8926f427487f616b13dc#flaticon_reduto") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_reduto !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-facebook-app-symbol:before {
    content: "\f101";
}
.flaticon-youtube:before {
    content: "\f102";
}
.flaticon-social-media:before {
    content: "\f103";
}
.flaticon-vimeo:before {
    content: "\f104";
}
.flaticon-menu-hand-drawn-lines-outlines:before {
    content: "\f105";
}
.flaticon-cancel-hand-drawn-cross-in-square-button-outline:before {
    content: "\f106";
}
.flaticon-clock:before {
    content: "\f107";
}
.flaticon-calendar:before {
    content: "\f108";
}
.flaticon-clapperboard:before {
    content: "\f109";
}
