@import '../scss/colors.scss';
@import '../scss/font.scss';
@import '../scss/animations.scss';

.menu {
    position: absolute;
    top: 0%;
    width: 10.5%;
    left: 5%;

    .menu__header {
        position: relative;
        z-index: 99;
        
        .menu__header__logo {
            display: inline-block;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            user-select: none;
    
        }
    
        .menu__header__icon {
            position: absolute;
            top: 50%;
            color: $bege;
            font-size: 26px;
            cursor: pointer;
            z-index: 99;
        }
    
        .menu__header__icon--close {
            position: absolute;
            top: 50%;
            color: $bege;
            font-size: 30px;
            cursor: pointer;
            z-index: 99;
        }
    }

    .menu__content {
        position: relative;
        padding: 1vw;
        background-color: $azul-claro;
        z-index: 99;
        border: 3px solid $bege;
        border-width: 4px 4px 4px 5px;
        border-radius:95% 4% 92% 5%/4% 95% 6% 95%;

        .menu__content__link {
            display: block;
            position: relative;
            font-size: 14px;
            color: $bege;
            font-weight: 800;
            padding-bottom: 2vw;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            user-select: none;
            z-index: 99;
            
            &:hover {
                color: $azul-escuro;
            }

            &:last-of-type {
                padding-bottom: 0;
            }

            &:first-of-type {
                padding-top: 0.5vw;
            }
        }
    }
}

@media only screen and (max-width:767px) {

    .menu {
        top: 10%;
        width: 40%;
        left: 30%;

        .menu__link {
            font-size: 16px;
            margin-bottom: 4vw;

            &:hover {
                color: $bege;
            }
        }

        .menu__content {
            padding: 4vw;
            width: 50vw;

            .menu__content__link {
                margin-bottom: 4vw;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

        }
    }

}

@media only screen and (min-width:768px) and (max-width:1399px) {

    .menu {

        .menu__content {
            .menu__content__link {
                font-size: 10px;
            }
        }
    }

}

@media only screen and (min-width:1400px) and (max-width:1700px) {

    .menu {

        .menu__content {
            .menu__content__link {
                font-size: 11px;
            }
        }
    }

}