@import '../scss/colors.scss';
@import '../scss/font.scss';

.social {
    position: absolute;
    width: 100%;
    top: 2%;
    padding-left: 5vw;
    padding-right: 5vw;
    z-index: 1;

    .social__link {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        margin-right: 1vw;
    }

    .social__icon {
        display: block;
        color: $bege;
        font-size: 30px;
        position: relative;
        z-index: 1;

        &:hover {
             color: $azul-claro;
        }

    }

    .social__language {
        .social__language__link {
            font-size: 20px;
            color: $azul-claro;
            font-weight: 700;
            text-decoration: none;

            &:hover {
                color: $bege;
            }
        }

        .social__language__text {
            font-size: 20px;
            color: $bege;
            font-weight: 700;
            padding-left: 1vw;
            padding-right: 1vw;
        }

        .active {
            color: $bege;
        }
    }
}


@media only screen and (min-width: 900px) and (max-width: 1300px) {



}

@media only screen and (min-width: 1301px) and (max-width: 1500px) {



}

@media only screen and (min-width: 1501px) and (max-width: 1700px) {



}